<% content_for :top_content do %>
<% if user_signed_in? %>
<div class="jumbotron">
  <div class="container">
      <center><%= link_to 'Search', 'home/new', class: 'btn btn-primary btn-lg' %></center>

      <% @monuments.each do |mon|%>
        <img style= "width:300px" src = <%= mon['image'] %> > <br>
        Name: <%= mon['monument_name'] %> <br><br>
        <a href= "home/<%= mon['id'] %>" class= 'btn btn-primary btn-xs' > View / Edit </a>
        <a href= "home/<%= mon['id'] %>" data-method='delete' class= 'btn btn-primary btn-xs' > Delete Trip </a>
        <br><br><br>
      <% end %>

  </div>
</div>
<% else %>
<div class="jumbotron">
  <center><div class="container">
    <h1>Welcome!</h1>
    <p>Register to get started.</p>
    <p>
      <%= link_to 'Register', new_user_registration_path,method: :get, class: 'btn btn-primary btn-lg' %>
    </p>
  </div></center>
</div>
<% end %>
<% end %>
